@import url('fonts.css');

body{
    font-family:"Open Sans";
    font-size: 16px;
    font-weight:400;
}

.navbar{
    height: 60px;
    border-radius: 0;
    border:none;
}
#content{
    margin-top: 150px;
    margin-bottom:60px;
}

.btn{
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius: 6px;
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;   
    background: #ffffff;
    z-index: 1025;
    height: 72px;
}

.img-header{   
    padding-top: 4px;
    padding-bottom: 4px;
    max-height: 80px;
    max-width: 100%;
}

.brand-title{
    line-height: 60px;
    font-size: 16px;
    color: #f0f0f0 !important;
}

.navbar-bottom{
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
}
.row-pading{
    padding-top: 4px;
    padding-bottom: 4px;
}
.text-header{
    font-size: 20px;   
    font-weight: 700;
}
.text-subheader{
    font-size: 20px;
    font-weight: 400;
}

.text-content{
    font-size: 20px;
    font-weight: 200;
}


.relative {
    position: relative;
}
.fill-split .leadcontainer {
    left: 0;
    position: absolute;
    right: 30px;
}
.fill-split .dropdown-lead{
    width: 100%;
    border-radius: 2px 0 0 2px;
}
.fill-split .dropdown-append{
    width: 30px;
    float: right;
    box-sizing: border-box;
    border-radius: 0 2px 2px 0;
    border-left: 1px solid #fff;
}
.fill-split .dropdown-menu{
    width: 100%;
}
.pick-board-table{
    width: 100%;
    position: absolute;
    background: #fff;
    z-index: 1000;
}

.pick-board-table > tbody> tr>td{
    text-align: center;
    padding: 8px;
}
.pick-board-table > tbody> tr>td>span{
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.pick-board-table > tbody> tr>td>span.active{
    border-color: #f00;
    color: #f00;
}

.icon{
    text-align: center;
    font-size: 24px;
    color:#fff;
    line-height: 60px;
    width: 60px;
}

.icon-sm{
    font-size: 18px;
    line-height: 40px;
    width: 40px;
}

.icon-lg{
    font-size: 32px;
    line-height: 80px;
    width: 80px;
}

.icon-xlg{
    font-size: 38px;
    line-height: 100px;
    width: 100px;
}

.icon-circle{border-radius: 50%}
.icon-success{background: #5cb85c}
.icon-warning{background: #f0ad4e}
.icon-info{background: #5bc0de}
.icon-primary{background: #5cb85c}
.icon-danger{background: #d9534f}


.icon-lotto{
    border: 4px solid #d0d0d0;
    color: #d0d0d0;
}



.payment_successful {
    border-top: 2px solid #ddd;
}
.payment_successful>th{
    line-height: 40px;
}

.lotto-ball{
    width: 25px;
    height: 25px;
    margin: 2px 0px;
    width: 42px;
    height: 42px;

}

.lotto-ball-xlg{
    width: 40px;
    height: 40px; 
}

.form-control:hover {
    background-color: #fff;
}

.lotto-ball-xlg:hover{
    border: 1px solid #BCCF00; 
    border-radius: 50%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(165, 194, 7, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(165, 194, 7, .6);
}

.lotto-ball-xlg.active{
    border: 2px solid #f00;
    border-radius: 50%;
}

table.lotto-board{
    width: 100%;
}
table.lotto-board> tr>td:first-child{
    width: 40%
}
table.lotto-board tr>td:last-child{
    width: 60%
}
.payment_successful>th>span{
    margin-right: 20px;
}

table.payment-table tr>td:first-child{
    width: 40%
}

table.payment-table tr>td:last-child{
    width: 60%
}


.game-banner{
    width: 100%;
}
.game-name,
.game-price{
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 8px;   
    padding: 8px;
    font-size: 18px;
}

.game-price{   
    font-weight: 500;        
    font-size: 18px;
    color: #ffffff;
    background: #aaa;
}


.game-list>.game-list-item{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 2px solid #aaa;
}

.game-list>.game-list-item:first-child{
    padding-top: 0;
}

.game-list>.game-list-item:last-child{  
    border-bottom: none;
}

.lotto-empty>text{
    font-size: 8px;
}
.table-lotto{   
    width: 100%;
}
.table-lotto td{
    padding-bottom:8px;
    border-top: none !important;
}
.lotto-add{
    padding-right: 20px;
}
.lotto-add :first-child{
    font-size: 16px;
    font-weight: 500;
}

.lotto-add :last-child{
    margin-bottom: 8px;
}

.lotto-checkbox>.btn{
    margin-top: 4px;
    padding: 0;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    font-size: 12px;
}

.btn-both-dirrect>span.pull-left{
    font-weight: 700;
    font-size: 14px;
}

.btn-both-dirrect.btn-lg>.pull-left{
    font-weight: 200;
    font-size: 17px;
    line-height: 23px;
    color: #000;
}
.btn-both-dirrect.btn-lg>.pull-right{
    font-weight: 200;
    font-size: 16px;
    line-height: 23px;
}

.language{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
    padding: 0 12px;
}

.language>.dropdown>a{
    color: #fff;
}

.language>.dropdown>.dropdown-menu{
    position: fixed;
    right: 0;
    left: auto;
    z-index: 2000;
}
.diver-primary{
    width: 100%;
    border-top: 2px solid #BCCF00;
    margin: 12px 0 12px 0;
}

.icon-menu-text{
    padding-top: 8px;
    color:#adc22f;
    font-weight: 500;
    font-size: 16px;
}


.image-icon-title{
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 700;    
}


.image-icon-circle{
    border: 2px solid #BCCF00 ; 
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 100px;
    height: 100px; 
}


.icon-1{    
    background: url("../images/icons/icon_1.png") no-repeat;
    background-position: 50% 50%;
}

.icon-2{
    background: url("../images/icons/icon_2.png") no-repeat;
    background-position: 50% 50%;
}

.icon-3{    
    background: url("../images/icons/icon_3.png") no-repeat;
    background-position: 50% 50%;
}

.icon-4{
    background: url("../images/icons/icon_4.png") no-repeat;
    background-position: 50% 50%;
}

.icon-5{
    background: url("../images/icons/icon_5.png") no-repeat;
    background-position: 50% 50%;
}

.icon-6{
    background: url("../images/icons/icon_6.png") no-repeat;
    background-position: 50% 50%;
}

.icon-7{
    background: url("../images/icons/icon_7.png") no-repeat;
    background-position: 50% 50%;
}

.icon-8{
    background: url("../images/icons/icon_8.png") no-repeat;
    background-position: 50% 50%;
}

.icon-9{
    background: url("../images/icons/icon_9.png") no-repeat;
    background-position: 50% 50%;
}

.menu.item a {
    display: block;
    text-decoration: none;
}

.buy_selct img {
    padding: 0 40px 0 5px;
}

.buy_selct button {
    width: 100%;
     padding: 10px 0 10px 0px;
    text-align: left;
    font-style: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #a6c306;
}

.icon-amount {
     background: url("../images/icons/icon_13.png") no-repeat;
    background-position: 50% 50%;
}
.spelling-error {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}

.success-box .bl.num  {
    display: block;
    font-size: xx-large;
    text-transform: uppercase;
}
.center  {
    display: table;
}
.lrp {
    font-size: large;
}
.bg1 {
    background-color: #ccc;
}
.bg2 {
    background-color: #ebebee;
}

.bg3 {background-color: #e5edb5;}
.ref_num {
    text-align: left;
    font-family: inherit;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 5px 8px;
    color: inherit;
    font-size: small;
}
.bgcl1 {
    color: #000;
}
.pfw {
    font-size: medium;
    font-weight: 300;
}
.terms {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #a6c306; 
    padding-bottom: 2px;
    font-size: medium;
    font-weight: 300;
}
.terms:hover {
    color: inherit;
    text-decoration: none;
}
a.center_btn_back {
    margin-right: 25%;
}
.purchase {
    width: 100%;
    margin-top: 15px;
    padding-left: 60px;
    text-align: left;
    background-image: url("../images/demo/icon1@12x.png");
    background-repeat: no-repeat;
    background-position: 10px center;
}
.success-box table {
    margin-top: 5px;
    display: block;
    width: 100%;
}

.success-box p {
    border-bottom: 1px solid #858787;
}
.success-box .lrp {
    margin: 0;
    padding: 5px 0 5px 30px;
}
.success-box tbody {
    width: 100%;
}
.success-box tbody td{
    width: 50%;
    padding: 5px;
}

.table.table-hover tr td{
    border-bottom-style: none;
    border-bottom-width: 0;
    border-bottom-color: #000;
    border-top-style: none;
    border-top-width: 0;
    border-top-color: #000;
    border-left-style: none;
    border-left-width: 0;
    border-left-color: #000;
    border-right-style: none;
    border-right-width: 0;
    border-right-color: #000;
}
.table-bordered,
.table.table-hover {
    color: inherit;
    text-align: left;
    font-weight: 300;
    font-size: small;
    font-family: inherit;
}
.table-bordered tbody {
    margin-bottom: 15px;
}
.table thead tr {
    background-color: rgba(254, 225, 225, 0.294) !important;
}
.table tr:nth-child(odd) {background: #eee}
input["tel"]:required + u::after { position:absolute; z-index: 999; content: "*Tel"; }
input:invalid + u::after { 
    position:absolute; 
    z-index: 999;    
    right: 10px;
    top: 10px; content: url(../images/demo/icon1@7x.png); }

input.range + u::after { 
    position:absolute; 
    z-index: 999;    
    right: 10px;
    top: 10px; content: url(../images/demo/icon1@7x.png); }

.success {
     max-height: 38px;
    max-width: 100%;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 20px;
}

.sccusp {
    padding: 6px 0 10px 10px;
}

.form-group p {
    color: inherit;
    font-style: inherit;    padding: 4px 0 0 10px;
}
.form-group p span {
    color: inherit;
    font-weight: 300;
}

.payout-win {
    width: 100%;
    height: 20%;
}
.payout-win .pull-right {
    width: 50%;
    margin-bottom: 15px;
}
.success-box.win p:last-child {
    border-bottom: 0;
}

.payout-win > .pull-right {
    margin-right: 20%;
}
.payout-win > .pull-left {
     width: 40%;
    margin-left: 35%;
} 
.tol-win p {
    border-top: 1px solid #858787;
}

.wallet-box {
padding-bottom: 15px;
    padding-left: 9px;
    padding-top: 1px;
}
.wallet-box .input-group {
    width: 96%;
}

.checkbox > span {
    margin-left: 10%;
    color: #8c8e8e;
}

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + span {
    font-weight: 300;
    color: #8c8e8e ;
}

input[type="checkbox"] + span:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 300;
  vertical-align: middle;
  padding-right: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

input[type="checkbox"] + span:before {
  
  content: url("../images/icons/checkbox.png");

}

input[type="checkbox"]:checked + span {
    color: #000;
}
input[type="checkbox"]:checked + span:before {
  content: url("../images/icons/checked.png"); /* check */
}

.wallet-box input {
    text-align: center;
}

.wallet-box label{
    color: #8c8e8e;
}



.tol-win label {
    padding-left: 0;
}

.confirm p {
    text-align: left;
    color: inherit;;font-weight: 300;font-size: medium;
}

.form-group.col-md-1 {
     display: table-cell;
    padding-left: 0;
    padding-right: 0;
    width: 13.3%;
}


@media screen and (min-width: 360px) {

    .payout-win .pull-right {
        width: 94%;
        margin-right: 1% !important;
    }

    .payout-win .pull-right{
        width: 60%;
}

}

@media screen and (min-width: 320px) {
      .payout-win > .pull-right {
       font-size: small;
    }
    .payout-win .pull-right {
        width: auto !important;
    }
    .dropdown-menu{
    min-width: 290px !important;
}
.col-xs-4 {
    width: auto !important;
}
}
